.DS_Store
bib2html21dbf4
bib2html21dbf4.aux
bib2html21dbf4.bbl
bib2html21dbf4.blg
Curriculum_Vitae.synctex.gz
Curriculum_Vitae.aux
Curriculum_Vitae.bcf
Curriculum_Vitae.log
Curriculum_Vitae.out
Curriculum_Vitae.run.xml
Curriculum_Vitae.bbl
Curriculum_Vitae.blg
Curriculum_Vitae.fdb_latexmk
Curriculum_Vitae.fls
Curriculum_Vitae.bbl.bbl
Curriculum_Vitae.bbl.blg
Curriculum_Vitae.dvi
Curriculum_Vitae.html
Curriculum_Vitae.tex.bbl
Curriculum_Vitae.tex.blg
publications.bib.blg
publications.bib.bbl
publications.fls
publications.log
publications.blg
publications.aux
publications.bbl
publications.csl
publications.fdb_latexmk
publications.fsl
publications_iris.bib
publications_bibertool.bib
figures/Hancock.png
figures/Icon
Icon
people.html
people.php
publications.php
bib2html5ab81a
bib2html5ab81a.aux
bib2html5ab81a.bbl
bib2html5ab81a.blg
publications.blg
Curriculum_Vitae.synctex(busy)
Short_Curriculum_Vitae.aux
Short_Curriculum_Vitae.bcf
Short_Curriculum_Vitae.log
Short_Curriculum_Vitae.out
Short_Curriculum_Vitae.pdf
Short_Curriculum_Vitae.run.xml
Short_Curriculum_Vitae.synctex.gz
Short_Curriculum_Vitae.tex
pdflatex34467.fls
Referees.tex
publications_imported_20250501_for_diff.bib
