.DS_Store
bib2html21dbf4
bib2html21dbf4.aux
bib2html21dbf4.bbl
bib2html21dbf4.blg
Curriculum_Vitae.synctex.gz
Curriculum_Vitae.aux
Curriculum_Vitae.bcf
Curriculum_Vitae.log
Curriculum_Vitae.out
Curriculum_Vitae.run.xml
Curriculum_Vitae.bbl
Curriculum_Vitae.blg
Curriculum_Vitae.fdb_latexmk
Curriculum_Vitae.fls
Curriculum_Vitae.bbl.bbl
Curriculum_Vitae.bbl.blg
Curriculum_Vitae.dvi
Curriculum_Vitae.html
Curriculum_Vitae.tex.bbl
Curriculum_Vitae.tex.blg
publications.bib.blg
publications.bib.bbl
publications.fls
publications.log
publications.blg
publications.aux
publications.bbl
publications.csl
publications.fdb_latexmk
publications.fsl
publications_iris.bib
figures/Hancock.png
figures/Icon
Icon
people.html
people.php
publications.php
